:root {
    /*Paleta de colores*/
    --desaturated-colorful-rainbow: linear-gradient(45deg, #faeb96, #f8b49f, #d1b0fa, #a1e4f8);
    --gradient-colorful-rainbow: linear-gradient(45deg, #ffe75c, #ff9270, #b177f9, #77daf9);
    --saturated-colorful-rainbow: linear-gradient(45deg, #ffd900, #fa5f30, #8d34fa, #2dc9f8);
    --dark-colorful-rainbow: linear-gradient(45deg, #bb9f00, #a05c47, #7650a5, #447b8b);
    --complement-colorful-rainbow: linear-gradient(45deg, #FFBD66, #D885B5, #3DA5D9, #73BFB8);
    --textos-blancos: #dbdce7;
    --textos-transparentes: #363950;
    --textos-validacion: #54eb40;
    --textos-negativos: #c92a2a;
    --color-background: #262A50;
    --color-background-desaturated: #313763;
    --botones-background: #2a3cc5;
    --optional-color-yellowtorange: linear-gradient(45deg, #fce38a, #f38181);
    --optional-color-pinktoblue: linear-gradient(45deg, #f02fc2, #6094ea);
    --optional-color-purplebluegreen: linear-gradient(45deg, #574bcd, #2999ad, #41e975 );
    --optional-color-four: linear-gradient(45deg, #17ead9, #6078ea);
    
}


* {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--color-background);
    color: var(--textos-blancos);
}
.container-start img {
    width: 50px;
}
