:root {
    --desaturated-colorful-rainbow: linear-gradient(45deg, #faeb96, #f8b49f, #d1b0fa, #a1e4f8);
    --gradient-colorful-rainbow: linear-gradient(45deg, #ffe75c, #ff9270, #b177f9, #77daf9);
    --saturated-colorful-rainbow: linear-gradient(45deg, #ffd900, #fa5f30, #8d34fa, #2dc9f8);
    --dark-colorful-rainbow: linear-gradient(45deg, #bb9f00, #a05c47, #7650a5, #447b8b);
    --complement-colorful-rainbow: linear-gradient(45deg, #FFBD66, #D885B5, #3DA5D9, #73BFB8);
    --textos-blancos: #dbdce7;
    --textos-transparentes: #363950;
    --textos-validacion: #54eb40;
    --textos-negativos: #c92a2a;
    --color-background: #262A50;
    --color-background-desaturated: #313763;
    --botones-background: #000;
    --optional-color-one: #000;
    --optional-color-two: #000;
    --optional-color-three: #000;
    --optional-color-four: #000;
}


* {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--color-background);
    color: var(--textos-blancos);
}
.container-start img {
    width: 50px;
}
