body {
background: linear-gradient(45deg, #ffe75c, #ff9270, #b177f9, #77daf9);
color: aquamarine;
text-align: center;
font-family: Ubuntu, Arial, Helvetica, sans-serif;
font-size: 16px;;
margin: 0;
padding: 0;
}

header {
 background: none;
 font-size: 40px;
 font-weight: bold;
 margin: 10px;
 padding-top: 20px;
 padding-bottom: 20px;
}

.header-title {
    position: absolute;
    top: 55px;
    left: 50%;
    width: 400px;
    height: 75px;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;


}

.header-title::before {
content: '';
position: absolute;
width: 100%;
height: 100%;
/*background-image: url(1.jpg);*/
background: linear-gradient(45deg, #ffe75c, #ff9270, #b177f9, #77daf9);
filter: blur(25px);
z-index: -1;
filter: blur(25px);

}

main {
    margin: 5%;
}
.container-start {
    padding-top: 15%;
    padding-bottom: 15%;
}

.container-start_tijera {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-block;
}
.container-start_rocket {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-block;
}
.container-start_burguer {
width: 50px;
height: 50px;
margin: 10px;
display: inline-block;
}

.button-start {
    width: 130px;
    height: 45px;
    background: none;
    color: rgb(44, 44, 44);
    border: none;
    font-weight: 700;
    font-size: 1.05rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, 
                -20px -20px 60px #ffffff;
                position: relative;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}

.button-start::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -5%;
    width: 110%;
    height: 120%;
    border-radius: 50px;
    z-index: -1;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    transform: scale(0.8);
    transition: transform .4s;
}

.button-start::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    z-index: -2;
    filter: blur(10PX);
    transform: scale(0.5);
    transition: transform .4s;
    
} 
.button-start:hover::before, .button-start:hover::after {
    transform: scale(1);
}
/*
#animation-tijera {
    animation-name: animacionTijera;
    animation-duration: 5s;
    position: relative;
}

@keyframes animacionTijera {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0;}
    50% {left: 100px; top: 100px;}
    75% {left: 0; top: 100px;}
    100% {left: 0; top: 0;}
}
*/
.container-games {
    
}

.container-games_game01 {
    padding: 0;
    margin: 20px;
    
}
.container-games_game02 {
    padding: 0;
    margin: 20px;
}
.container-games_game03 {
    padding: 0;
    margin: 20px;
}

footer {
background: purple;
text-align: center;
margin: 0;
padding: 0;
bottom: 0;
}

